<div style="text-align: center;">
  <h2>Form</h2>
  <div class="wrapper">
    <div class="one inner_border">
      Left block
      <%= render 'input' %>
    </div>
    <div class="two inner_border">
      Right block
      <%= render 'result' %>
    </div>
  </div>
</div>